In [2]:
def print_star():
    print('***********************')

print_star()
print_star()
print_star()
print_star()
print_star()
print_star()

***********************
***********************
***********************
***********************
***********************
***********************

In [3]:
def print_star3():
    print('***********************')
    print('***********************')
    print('***********************')
    print('***********************')
    print('***********************')

print_star3()
print_star3()

***********************
***********************
***********************
***********************
***********************
***********************
***********************
***********************
***********************
***********************

In [5]:
def print_hash():
    print('########################')
    
def print_star():
    print('***********************')
    
def print_plus():
    print('++++++++++++++++++++++++')
  


print_hash()
print_star()
print_plus()
print_plus()
print_star()
print_hash()

########################
***********************
++++++++++++++++++++++++
++++++++++++++++++++++++
***********************
########################

In [12]:
def print_star(n):
    for i in range(n):
        print('****************')
    
print_star(10)

def print_hash(n):
    for i in range(n):
        print('################')

print_hash(6)

def print_hash(n):
    for i in range(n):
        print(i, '################')

print_hash(6)

****************
****************
****************
****************
****************
****************
****************
****************
****************
****************
################
################
################
################
################
################
0 ################
1 ################
2 ################
3 ################
4 ################
5 ################

In [17]:
def print_sub(a, b):
    result = a - b
    print(a,'와', b, '의 차는', result, '입니다.')

print_sub(10, 20)

def print_mult(a, b):
    result = a * b
    print(a,'와', b, '의 곱은', result, '입니다.')

print_mult(10, 20)

10 와 20 의 차는 -10 입니다.
10 와 20 의 곱은 200 입니다.

In [21]:
def print_root(a, b, c):
    r1 = (-b + (b ** 2 - 4 * a * c) ** 0.5) / (2 * a) 
    r2 = (-b - (b ** 2 - 4 * a * c) ** 0.5) / (2 * a) 
    print('해는', r1, '또는', r2)

print_root(1, 4, -21)
print_root(1, -6, 8)

def print_area(width, height):
    area = width * height / 2
    print('밑변', width, ',높이', height, '인 삼각형의 면적은 :', area)
    
print_area(10 ,20)

해는 3.0 또는 -7.0
해는 4.0 또는 2.0
밑변 10 ,높이 20 인 삼각형의 면적은 : 100.0

In [29]:
def circle_area_circum(radius):
    area = radius * radius * 3.14
    circum = 2 * 3.14 * radius
    return area, circum

radius = 10

a, b = circle_area_circum(radius)

print('반지름', radius, '인 원의 면적은', a, ',원의 둘레는', b)

반지름 10 인 원의 면적은 314.0 ,원의 둘레는 62.800000000000004

In [10]:
def multiplies(n, m):
    a = []
    for i in range(m):
        a.append((i+1)*n)    
    return a
    
r1, r2, r3, r4 = multiplies(3, 4)
print(r1, r2, r3, r4)

r1, r2, r3, r4, r5 = multiplies(2, 5)
print(r1, r2, r3, r4, r5)

3 6 9 12
2 4 6 8 10

In [34]:
def print_name(first_name, last_name, honorifics):
    print(honorifics, first_name, last_name)
    
print_name(first_name = 'Gildong', last_name = 'Hong', honorifics = 'Dr.')

print_name('Gildong', 'Hong', 'Dr.')

Dr. Gildong Hong
Dr. Gildong Hong

In [41]:
def sum_nums(*numbers):
    sum = 0
    tuple = numbers
    print(len(numbers), '개의 인자', tuple)
    
    for i in numbers:
        sum = sum + i
        
    average = sum / len(numbers)

    print('합계 :', sum, ', 평균 :', average)
    
sum_nums(10 ,20 ,30)
sum_nums(10 ,20, 30 ,40 ,50)

def min_nums(*numbers):
    for i in numbers:
        min = i
    
    for i in numbers:
        if i < min:
            min = i
            
    print('최솟값은', min)
            
min_nums(20 ,40 ,50, 10)

3 개의 인자 (10, 20, 30)
합계 : 60 , 평균 : 20.0
5 개의 인자 (10, 20, 30, 40, 50)
합계 : 150 , 평균 : 30.0
최솟값은 10

In [3]:
name = input('당신의 이름을 입력해주세요 : ')
age = input('나이를 입력해주세요 : ')
job = input('직업을 입력해주세요 : ')
address = input('사는 곳을 입력해주세요 : ')

print('당신의 이름은 {}, 나이는 {}살, 직업은 {}, 사는 곳은 {}입니다.'.format(name, age, job, address))
print('당신의 이름은', name, '나이는', age, '살, 직업은', job, '사는 곳은', address, '입니다.')

당신의 이름을 입력해주세요 : 김철수
나이를 입력해주세요 : 21
직업을 입력해주세요 : 학생
사는 곳을 입력해주세요 : 창원시
당신의 이름은 김철수, 나이는 21살, 직업은 학생, 사는 곳은 창원시입니다.
당신의 이름은 김철수 나이는 21 살, 직업은 학생 사는 곳은 창원시 입니다.

In [4]:
'_'.join('ABCD')

'A_B_C_D'

In [7]:
s = 'My favorite thing is monsters.'
t = s.replace('monsters', 'cartoons')
t

'My favorite thing is cartoons.'